html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #232425;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    background: #1b1c1d;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    padding: 20px;
}

.header-inner {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 1350px;
    max-width: 100%;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    background: #1b1c1d;
    z-index: 9999;
    border-right: 1px solid;
    margin-right: 18px;
    padding-right: 0;
}

.menu-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 9px;
    font-size: 1rem;
    list-style: none;
}

.menu-inner li {
    margin: 0 12px;
}

.discord-icon {
    fill: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
}

.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.is-gray {
    color: #a9a9b3;
}

.is-not-gray {
    color: rgba(255, 255, 255, 0.884);
}

.rpkg-image {
    width: 960px;
}

.changelog {
    text-align: left;
}
