html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #232425;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    background: #1b1c1d;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30px;
    padding: 20px;
}

.header-inner {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 99%;
    max-width: 100%;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    background: #1b1c1d;
    z-index: 9999;
    border-right: 1px solid;
    margin-right: 18px;
    padding-right: 0;
}

.menu-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 9px;
    font-size: 1rem;
    list-style: none;
}

.menu-inner li {
    margin: 0 12px;
}

.discord-icon {
    fill: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
}

.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.is-gray {
    color: #a9a9b3;
}

.is-not-gray {
    color: rgba(255, 255, 255, 0.884);
}

.changelog {
    text-align: left;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

code {
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-feature-settings: normal;
    background: #3b3d42;
    padding: 1px 6px;
    margin: 0 2px;
    border-radius: 5px;
    font-size: 0.95rem;
}

#save {
    display: block;
    position: absolute;
    top: 23px;
    left: 150px;
}

.buttons {
    color: #05be99;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid #05be99;
    margin: 0 1em;
    margin-bottom: 20px;
}

.button-color-white {
    color: white;
}

#save span {
    color: #05be99;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid #05be99;
    margin: 0 1em;
}

#save span:hover {
    background: #111111;
}

#naming {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid black;
    background: #3ccccc;
}

.wrapper {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 100px;
    left: 15px;
    bottom: 15px;
    right: 15px;
}

#packagedefinitions {
    font-family: "Source Code Pro", monospace;
    color: #fff;
    font-size: 1em;
    background-color: #1f2125;
    border: 2px solid #05be99;
    width: 100%;
    height: 90%;
    margin-top: 50px;
}

#failed-load-notif {
    color: white;
}
